<div class="flex flex-col flex-auto">

    <div class="dark bg-card flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <div>
            <div class="md:hidden -ml-2 mr-3">
                <button
                    mat-icon-button
                    (click)="shoppingListComponent.drawer.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
            </div>

            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Vos Courses</div>
            <div class="ml-0.5 font-medium text-secondary">
                <!-- <span *ngIf="tasksCount.incomplete === 0">All tasks completed!</span>
                <span *ngIf="tasksCount.incomplete !== 0">{{tasksCount.incomplete}} remaining tasks</span> -->
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-4 sm:mt-0">
            <button
                class="ml-3"
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:badge-check'"></mat-icon>
                <span class="ml-2 mr-1">Terminer</span>
            </button>
        </div>
    </div>

    <!-- Tasks list -->
    <ng-container>
        <div class="divide-y">
            <!-- Task -->
            <ng-container *ngFor="let task of tasks; let first = first; trackBy: trackByFn">
                <div
                    [id]="'task-' + task.id"
                    class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                    [ngClass]="{'h-16': task.type === 'task',
                                'text-hint': task.completed}"
                    [class.border-t]="first">
                    
                    <!-- Task content -->
                    <div class="relative flex items-center h-full pl-6">

                        <!-- Selected indicator -->
                        <ng-container *ngIf="selectedTask && selectedTask.id === task.id">
                            <div class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary"></div>
                        </ng-container>

                        <!-- Complete task button -->
                        <button
                            class="mr-2 -ml-2.5 leading-none"
                            *ngIf="task.type === 'task'"
                            (click)="toggleCompleted(task)"
                            mat-icon-button>
                            <ng-container *ngIf="task.completed">
                                <mat-icon
                                    class="text-primary"
                                    [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                            </ng-container>
                            <ng-container *ngIf="!task.completed">
                                <mat-icon
                                    class="text-hint"
                                    [svgIcon]="'circle'"></mat-icon>
                            </ng-container>
                        </button>

                        <div class="mr-4 flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                            <ng-container *ngIf="!task.avatar">
                                <img [ngClass]="{'opacity-60': task.completed}"
                                    class="object-cover w-full h-full"
                                    src="https://static.750g.com/images/160-100/21c93d5ac08787374a7b68de18fcd50a/gettyimages-646400914.jpg"/>
                            </ng-container>
                            <ng-container *ngIf="task.avatar">
                                <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                    {{task.title.charAt(0)}}
                                </div>
                            </ng-container>
                        </div>

                        <a class="flex flex-auto items-center min-w-0 h-full pr-7 cursor-pointer"
                           (click)="toggleCompleted(task)">
                            <div class="flex-auto mr-2 truncate">
                                <span>{{task.title}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #noTasks>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon
                class="icon-size-24"
                [svgIcon]="'iconsmind:bulleted_list'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Add a task to start planning!</div>
        </div>
    </ng-template>
</div>