<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="dark bg-card dark:border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/brian-hughes.jpg">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Catégories</div>
                        </ng-container>
                        <!--<div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">You have 2 new messages and 15 new tasks</div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto m-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <button
                class="mb-4 sm:mb-6 px-1 sm:px-4 min-w-10"
                mat-flat-button
                [color]="'primary'"
                (click)="addNewCategory()">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                <span class="sm:inline-block ml-2">Nouvelle catégorie</span>
            </button>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0 ng-star-inserted">
                <ng-container>
                    
                    <fuse-card class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden ng-star-inserted" *ngFor="let category of categories">
                        <img
                            class="object-cover"
                            src="{{category.image}}"
                            alt="Card cover image">
                        <button *ngIf="category.algoRepas" mat-icon-button
                            style="margin-left: auto;"
                            class="top-left"
                            matTooltip="Ne plus selectionner cette catégorie pour la géneration des repas"
                            (click)="retirerDeLaGeneration(category)">
                            <mat-icon svgIcon="remove_circle_outline" class="text-orange-600"></mat-icon>
                        </button>    
                                
                        <button *ngIf="!category.algoRepas" mat-icon-button
                            style="margin-left: auto;"
                            class="top-left"
                            matTooltip="Selectionner cette catégorie pour la géneration des repas"
                            (click)="ajouterALaGeneration(category)">
                            <mat-icon svgIcon="add_circle_outline" class="text-green-600"></mat-icon>
                        </button>
                        <button mat-icon-button
                            class="bottom-right"
                            matTooltip="Supprimer la catégorie">
                            <mat-icon svgIcon="feather:trash" class="text-red-600 icon-size-5"></mat-icon>
                        </button>

                        <div class="m-8 mb-4 ml-0">
                            <div class="flex justify-between">
                                <div class="flex flex-col">
                                    <div class="text-2xl font-semibold leading-tight mt-1">{{category.name}}</div>
                                    <div class="text-secondary text-md"><b>{{category.numberOfDishes}}</b> Recettes</div>
                                </div>
                            </div>
                            <div class="mt-5 -mx-3">
                                <button
                                    class="px-3 mr-1"
                                    mat-button
                                    [color]="'primary'"
                                    [routerLink]="['./']">
                                    Details
                                </button>
                                <button
                                    class="px-3 mr-1"
                                    mat-button
                                    [color]="'primary'"
                                    [routerLink]="['./']">
                                    Nouvelle Recette
                                </button>
                            </div>
                        </div>
                    </fuse-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>